# Flussonic streaming server configuration
# {{ ansible_managed }}

# == Global settings ==

# Flussonic server port:
http {{ flussonic_server_port }};

# Flussonic logging/session settings:
pulsedb {{ flussonic_pulsedb_location }};
session_log {{ flussonic_sesion_log_location }};
loglevel {{ flussonic_log_level }};
logrequests {{ flussonic_log_requests }};

# Password protection for admin area
edit_auth {{ flussonic_admin_user }} {{ flussonic_admin_pw }};
view_auth {{ flussonic_admin_user }} {{ flussonic_admin_pw }};

# == VOD configurations ==

file {{ flussonic_vod_path }} {
{% for bucket in flussonic_source_buckets %}
  path s3://{{ flussonic_bucket_aws_access_key }}:{{ flussonic_bucket_aws_secret_key }}@s3.amazonaws.com/{{ bucket }};
{% endfor %}
{% if flussonic_vod_cache_type == 'segments'  %}
  segment_cache {{ flussonic_vod_cache_dir }} {{ flussonic_vod_cache_size }} {{ flussonic_vod_cache_duration }} misses={{ flussonic_vod_cache_misses }};
{% elif flussonic_vod_cache_type == 'files' %}
  cache {{ flussonic_vod_cache_dir }} {{ flussonic_vod_cache_size }};
{% endif %}
  read_queue 10;
  # encryption
  hds off;
  rtmp off;
  rtsp off;
  dash off;
  # keyserver
  drm aes128 keyserver={{ flussonic_vod_keyserver_url }};
  auth {{ flussonic_vod_authserver_url }};
}

# All non VOD options are stripped from this config file, features might be added to the role lateron
